* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#car-canvas {
  background-color: lightgray;
}

#network-canvas {
  background-color: black;
}
